body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#widget-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background: linear-gradient(145deg, #0066cc, #0099ff);
    color: #fff; 
    overflow: hidden;
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

#chat-box {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    box-shadow: inset 0 -4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    scrollbar-width: thin;
    scrollbar-color: #004080 #0082fc;
    scroll-behavior: smooth;
}

/* Для Chrome, Safari и других браузеров на базе WebKit */
#chat-box::-webkit-scrollbar {
    width: 12px;
}

#chat-box::-webkit-scrollbar-track {
    background-color: #0082fc;
    border-radius: 10px;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #004080;
    border-radius: 10px;
    border: 3px solid #0082fc;
}

#input-form {
    display: flex;
    padding: 10px;
    background-color: #004080;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.1);
}

#user-input {
    flex: 1;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: text;
    transition: box-shadow 0.3s ease-in-out;
}

#user-input:focus {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#send-button {
    background-color: #002040; 
    border: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

#send-button:hover {
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#send-button img {
    width: 20px;
    height: 20px;
}

/* Стили для сообщений пользователя и бота */
.user-message, .bot-message {
    padding: 12px;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 0.9em;
    line-height: 1.4em;
}

.user-message {
    background-color: #e0f7fa;
    color: #006064;
    margin-bottom: 10px;
}

.bot-message {
    background-color: #b2ebf2;
    color: #004d40;
    margin-top: 10px;
}

#widget-header {
    padding: 10px;
    background-color: #004080;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #002040;
    transition: background-color 0.3s ease-in-out;
}

#widget-header:hover {
    background-color: #002040;
}

#quick-responses {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#quick-responses button {
    background-color: #004080;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#quick-responses button:hover {
    background-color: #002040;
}

#chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #004080;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#chat-button img {
    width: 30px;
    height: 30px;
}

#chat-button:hover {
    background-color: #002040;
}

#widget-container.hidden {
    transform: scale(0);
}

#widget-container.visible {
    transform: scale(1);
}

@keyframes slideUp {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

#close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
    height: 20px;
    width: 20px;
    align-items: center;
}

#close-button:hover {
    color: #cbcbcb;
}